
@import "tailwindcss";

@font-face {
  font-family: 'aperto';
  src: url("../fonts/Aperto.otf")
}

@font-face {
  font-family: 'vogue';
  src: url("../fonts/Classyvogueregular.ttf")
}

@font-face {
  font-family: 'velista';
  src: url("../fonts/VELISTA.woff")
}

@font-face {
  font-family: 'highspirit';
  src: url("../fonts/HighSpirited.ttf")
}

@font-face {
  font-family: 'photograph';
  src: url("../fonts/PhotographSignature.ttf")
}

@theme {
  --font-aperto: "aperto";
  --font-vogue: "vogue";
  --font-velista: "velista";
  --font-hightspirit: "highspirit";
  --font-photograph: "photograph";
}
